<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device=width" />
    <title></title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="well well-sm">
        <h2>Projeto Loja Virtual</h2>
        <br />

        <a href="/Produto/Consulta" class="btn btn-primary btn-sm">
            Loja de Produtos
        </a>

        <a href="/Produto/Cesta" class="btn btn-danger btn-sm">
            Cesta
        </a>
    </div> 

    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</body>
</html>

